/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */

body {
	background-color: blue;
	background-image: -webkit-linear-gradient(top, #002D62, #3F6188);
}


#zone-user-wrapper {
  height: 25px;
}

#zone-user-wrapper .block-user {
  float: right;
}

#zone-user-wrapper .block-user a {
  color: #FFFFFF;
  text-decoration: none;
}

.logo-img {
  margin-bottom: -50px;
  margin-top: -25px;
  margin-left: 30px;
  float: left;
  position: relative;
  z-index: 10;
}

#zone-branding-wrapper {
	background-color: red;
	background-image: -webkit-linear-gradient(top, #770C1C, #C2142E);
}

<<<<<<< HEAD
.block-user {
	margin: 0;
	position: absolute;
	right: 0;
	z-index: 15;
}	

.block-user .block-inner {
	color: #FFF;
	padding: 0;
}

.block-user .content {
	padding: 3px 7px;
}

#toboggan-container .toboggan-container {
	text-align: right;
}

#toboggan-login-link {
  display: block;
  padding: 0 22px 0 0;
  text-align: right;
}

#toboggan-login {
  padding: 5px 10px 10px;
  background-color: #002D62;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

#section-footer {
	background-color: red;
	background-image: -webkit-linear-gradient(top, #770C1C, #C2142E);
}

=======
>>>>>>> ff1bc8c14e44b42502ed751067e76e6082187520
/********************************/
/* Styles the main page content */
/********************************/
#zone-content {
  background-color: #FFFFFF;
  border-left: 6px solid #e21836;
  border-right: 6px solid #e21836;
}

.flexslider {
  border: none;
  margin-bottom: 0;
}

.block-views-frontpage-media-slideshow-block {
  margin-left: -10px;
  margin-right: -10px;
}

/***************************/
/* Styles the footer menus */
/***************************/
#section-footer {
	background-color: red;
	background-image: -webkit-linear-gradient(top, #770C1C, #C2142E);
	font-family: tahoma;
	font-size: 0.9em;
	margin-bottom: 3em;
	color: #ffffff;
}

#section-footer a:link, #section-footer a:hover, #section-footer a:visited, #section-footer a:active {
	text-decoration: none;
	color: #FFFFFF;
}

#section-footer ul li{
	list-style: none;
}