/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */

body {
	background-color: blue;
	background-image: -webkit-linear-gradient(top, #002D62, #3F6188);
}


#zone-user-wrapper {
  height: 25px;
}

#zone-user-wrapper .block-user {
  float: right;
}

#zone-user-wrapper .block-user a {
  color: #FFFFFF;
  text-decoration: none;
}

.logo-img {
  margin-bottom: -50px;
  margin-top: -25px;
  margin-left: 30px;
  float: left;
  position: relative;
  z-index: 10;
}

#zone-branding-wrapper {
	background-color: red;
	background-image: -webkit-linear-gradient(top, #770C1C, #E21836);
}

.block-user {
	margin: 0;
	position: absolute;
	right: 0;
	z-index: 15;
}	

.block-user .block-inner {
	color: #FFF;
	padding: 0;
}

/*****************************/
/* Style the header elements */
/*****************************/
.branding-data {
  float: left;
}

/***************************/
/* Primary navigation menu */
/***************************/
.primary-nav {
position: absolute;
bottom: 0;
right: 0;
}

.primary-nav ul.menu li.leaf {
list-style-image: none;
list-style-type: none;
float: right;
}

.primary-nav ul.menu li.leaf a {
text-decoration: none;
color: #FFFFFF;
font-size: 1.3em;
padding: 5px 0 0 30px;
display: block; /* The <a> tag won't register the padding without this. This forces it to render the whole element */
}

/* The active class is assigned by drupal to the link to the current page. 
This is a navigation convention that helps you keep track of where you are in a site. */
.primary-nav ul.menu li.leaf a.active {
color: #002D62;
}
/* This is a css "behavior" and is denoted with a colon.
Whenever the item is hovered over with the mouse, it will adopt the properties listed in this declaration. */
.primary-nav ul.menu li.leaf a:hover {
color: #3F6188;
}

/********************************/
/* Styles the main page content */
/********************************/
#zone-content {
  background-color: #FFFFFF;
}

.block-user .content {
	padding: 3px 7px;
}

#toboggan-container .toboggan-container {
	text-align: right;
}

#toboggan-login-link {
  display: block;
  padding: 0 22px 0 0;
  text-align: right;
}

#toboggan-login {
  padding: 5px 10px 10px;
  background-color: #002D62;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

/* Styles the footer menus */
#section-footer {
	background-color: red;
	font-family: tahoma;
	font-size: 0.9em;
	margin-bottom: 3em;
	color: #FFFFFF;
	padding-top: 1em;
	padding-bottom: 6em;
	background-image: -webkit-linear-gradient(bottom, #770C1C, #E21836);
}

#section-footer a:link, #section-footer a:hover, #section-footer a:visited, #section-footer a:active {
	text-decoration: none;
	color: #FFFFFF;
}

#section-footer ul li{
	list-style: none;
}

#region-footer-first  {
	text-align: center;
}
#region-footer-second {
	margin-top: 5em;
}
#region-footer-third {
	margin-top: 5em;
}
#region-footer-fourth {
	margin-top: 5em;
}
 
/********************************/
/* Styles the main page content */
/********************************/
#zone-content,
#zone-postscript {
  background-color: #FFFFFF;
  border-left: 6px solid #e21836;
  border-right: 6px solid #e21836;
}

.flexslider {
  border: none;
  margin-bottom: 0;
}

.view-frontpage-media-slideshow .flexslider {
  margin-left: -10px;
  margin-right: -10px;
}

/********************************/
/* Styles the Galleries section */
/********************************/
#page-title {
	font-family: 		verdana;
	width:				100%;
	border-bottom:		2px solid #3F6188;
}


.media-gallery-collection {
	margin:				0 auto;
}

.mg-gallery {
	height:				400px;
}

.submitted {
	background-color:	#002D62;
	text-align:			center;
	color:				#FFFFFF;
	border:				1px solid #000000;
}

.submitted a {
	text-decoration:	none;
	color:				#FFFFFF;
	font-weight:		bold;
}

.submitted a:hover {
	color:				#3F6188;
}

.file-icon {
	margin-bottom:		30px;
}

.media-gallery-item  a {
	text-decoration: 	none;
	color:				#000000;
	font-weight:		bold;
}

.media-gallery-item a:hover {
	color: 				#3F6188;
}

.stack-image {
	background-color: 	#e21836;
}

/* Styles the Comments */
.comment-form {
	font-family:		verdana;
	color:				#FFFFFF;
}

#comments {
	padding: 			10px;
	margin-bottom:		10px;
	background-color: 	#002D62;
	font-family:		verdana;
	border-radius:		10px;
	border:				1px solid #000000;
}

#comments a {
	text-decoration: 	none;
	color:				#3F6188;
	font-weight:		bold;
	height:				100%;
}

#comments a:hover {
	color: 				#FFFFFF;
}